<p style="text-align: center;"><img src="https://unascribed.com/ears-banner.png" width="512" height="180" /></p>
<p>&nbsp;</p>
<div style="text-align: center; font-size: 20px;"><strong>Faithful fancy fashion features for fuzzy folk.</strong></div>
<p>&nbsp;</p>
<div style="text-align: center"><a href="https://donate.unascribed.com/?project=11"><img src="https://unascribed.com/donate-mods.svg.png" alt="Support me and my mods" width="192" height="72" /></a></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="font-size: 16px">Created due to a lack of the <a style="font-size: 16px" href="https://www.curseforge.com/minecraft/mc-mods/tails/">Tails</a> mod for 1.16, Ears is a mod that adds ears, snouts, tails, horns, wings, and more to the player. Eventually, it also became a complete lightweight open source 1.9 skin backport for many old versions, which works even if you aren't using its special features.</p>
<p>&nbsp;</p>
<p>Ears has a more vanilla-faithful appearance than Tails, with a lot of 2D regions but a few 3D ones too. There are a wide variety of possible configurations and it can all be customized.</p>
<p>&nbsp;</p>
<p style="text-align: center;"><a href="https://unascribed.com/ears"><img src="https://unascribed.com/ears-manipulator-banner.png?v=2" alt="Configure your skin at The Manipulator (click here)" width="512" height="180" /></a></p>
<p>&nbsp;</p>
<p><b>Why use Ears instead of Tails?</b> Because Ears is easy to port to other versions, based on a multi-version abstraction allowing the mod to even run in web browsers. The Tails mod has wonderful 3D models and animations, but it's a burden to update it to any version due to its large rendering system and all the data syncing code, causing it to be tightly coupled with the version of the game and mod loader it was designed for. Ears stores all data as pixels in the player's skin.</p>
<p>&nbsp;</p>
<p><b>However, Ears requires you to draw your own additions</b>, and does not come with easy recolorable prefabs like Tails. Additionally, unlike CPM or Figura, Ears has a limited number of customization options. (Note that if you have a simple idea, I may add it. Open an issue on GitHub or hop in Discord.) <b>Ears offers a good middle-ground that will work in any version you wish to play</b>, and will receive updates to snapshots for those of you who live on the edge. It also does not and never will use external servers, just Mojang's skin server, so there's no concerns about a third-party server going down (be it temporarily or for good).</p>
<p>&nbsp;</p>
<p><b>Why use Ears instead of other skin fixes?</b> Ears provides a lot of new features to customize your skin, and is a much more lightweight patch with no usage of third-party servers and is completely open source. Additionally, Ears backports translucent secondary layer support to 1.8 and 1.7.</p>
<p>&nbsp;</p>
<p>Come discuss this mod and any of my others on <a href="https://discord.gg/8WBauq2eYK">Discord</a> or <a href="https://matrix.to/#/#unascribed:sleeping.town">Matrix</a>, or <a href="mailto:me@unascribed.com">send me an email</a>.</p>
<div>
<h2>A note on OptiFine</h2>
<p>OptiFine is, in general, very hard to support due to its invasive changes to the rendering engine and its closed source nature. Additionally, in recent versions of Minecraft, OptiFine accomplishes very little in terms of <i>opti</i>mization. However, in recognition of the fact OptiFine is a neccessary evil on many old versions, some versions of Ears have explicit compatibility with OptiFine. Here are the possible support levels:</p>
<ul>
<li><b style="color:#0A0">Supported</b>: Known to be compatible, and bug reports with OptiFine present are accepted, and issues specific to OptiFine will be fixed.</li>
<li><b style="color:#AA0">Unknown</b>: Compatibility unknown, issues specific to OptiFine may be fixed.</li>
<li><b style="color:#A00">UNSUPPORTED</b>: Compatibility unknown, bug reports with OptiFine present not accepted, issues specific to OptiFine will not be fixed.</li>
<li><b>BROKEN</b>: Known to be incompatible.</li>
</ul>
<p>&nbsp;</p>
<p>Here is the current status of OptiFine compatibility with Ears ports:</p>
<ul>
<li>Forge 1.2: <b style="color:#0A0">Supported</b></li>
<li>Forge 1.4: <b style="color:#AA0">Unknown</b></li>
<li>Forge 1.7: <b style="color:#A00">UNSUPPORTED</b></li>
<li>Forge 1.8: <b style="color:#0A0">Supported</b></li>
<li>Fabric: <b style="color:#A00">UNSUPPORTED</b></li>
<li>1.15+: <b>BROKEN</b> - use <a href="https://www.curseforge.com/minecraft/mc-mods/sodium">Sodium</a>/<a href="https://irisshaders.net/">Iris</a> instead</li>
</ul>
<h2>Downloads</h2>
<p>Except where otherwise noted, these link to downloads here on Curse. Just here to make downloading easier, as Curse's UI for a mod available for as many versions as Ears is... lackluster.</p>
<p><b>Every port is actively maintained.</b> None of these downloads are legacy, and they all receive updates at the same time.</p>
<h3>Fabric (1.14 - 1.18)</h3>
<div class="spoiler">
<p>Fabric API is not required to use Ears on any version.</p>

<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.fabric_117}}">
	<img src="https://unascribed.com/ears-dl/fabric-1.18.x.svg.png?v=5" width="208" height="88" alt="Fabric 1.17.x">
</a><br/>

<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.fabric_117}}">
	<img src="https://unascribed.com/ears-dl/fabric-1.17.x.svg.png?v=4" width="208" height="88" alt="Fabric 1.17.x">
</a><br/>

<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.fabric_116}}">
	<img src="https://unascribed.com/ears-dl/fabric-1.16.x.svg.png?v=2" width="208" height="88" alt="Fabric 1.16.x">
</a><br/>

<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.fabric_116}}">
	<img src="https://unascribed.com/ears-dl/fabric-1.15.x.svg.png?v=2" width="208" height="88" alt="Fabric 1.15.x">
</a><br/>

<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.fabric_114}}">
	<img src="https://unascribed.com/ears-dl/fabric-1.14.x.svg.png?v=2" width="208" height="88" alt="Fabric 1.14.x">
</a><br/>

</div>
<p>&nbsp;</p>
<h3>New Forge (1.14 - 1.18)</h3>
<div class="spoiler">
<table>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.forge_118}}">
		<img src="https://unascribed.com/ears-dl/forge-1.18.x.svg.png?v=2" width="208" height="88" alt="Forge 1.18.x">
	</a>
</td>
<td>
</td>
</tr>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.forge_117}}">
		<img src="https://unascribed.com/ears-dl/forge-1.17.x.svg.png?v=2" width="208" height="88" alt="Forge 1.17.x">
	</a>
</td>
<td>
</td>
</tr>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.forge_116}}">
		<img src="https://unascribed.com/ears-dl/forge-1.16.x.svg.png?v=2" width="208" height="88" alt="Forge 1.16.x">
	</a>
</td>
<td>
</td>
</tr>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.forge_115}}">
		<img src="https://unascribed.com/ears-dl/forge-1.15.x.svg.png?v=2" width="208" height="88" alt="Forge 1.15.x">
	</a>
</td>
<td>
	<br/><br/>
	<span style="color: #ff0000;">Requires <a href="https://www.curseforge.com/minecraft/mc-mods/mixinbootstrap">MixinBootstrap</a></span>
</td>
</tr>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.forge_114}}">
		<img src="https://unascribed.com/ears-dl/forge-1.14.x.svg.png?v=2" width="208" height="88" alt="Forge 1.14.x">
	</a>
</td>
<td>
	<br/><br/>
	<span style="color: #ff0000;">Requires <a href="https://www.curseforge.com/minecraft/mc-mods/mixinbootstrap">MixinBootstrap</a></span><br/>
</td>
</tr>

</table>
</div>
<p>&nbsp;</p>
<h3>Middle Forge (1.7 - 1.12)</h3>
<div class="spoiler">
<table>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.forge_112}}">
		<img src="https://unascribed.com/ears-dl/forge-1.12.2.svg.png?v=2" width="208" height="88" alt="Forge 1.12.2">
	</a>
</td>
<td>
</td>
</tr>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.forge_19}}">
		<img src="https://unascribed.com/ears-dl/forge-1.11.2.svg.png?v=2" width="208" height="88" alt="Forge 1.11.2">
	</a>
</td>
<td>
</td>
</tr>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.forge_19}}">
		<img src="https://unascribed.com/ears-dl/forge-1.10.2.svg.png?v=2" width="208" height="88" alt="Forge 1.10.2">
	</a>
</td>
<td>
</td>
</tr>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.forge_19}}">
		<img src="https://unascribed.com/ears-dl/forge-1.9.4.svg.png?v=2" width="208" height="88" alt="Forge 1.9.4">
	</a>
</td>
<td>
</td>
</tr>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.forge_18}}">
		<img src="https://unascribed.com/ears-dl/forge-1.8.9.svg.png?v=4" width="208" height="88" alt="Forge 1.8.9">
	</a>
</td>
<td>
	<br/><br/>
	Also backports secondary layer translucency
</td>
</tr>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.forge_17}}">
		<img src="https://unascribed.com/ears-dl/forge-1.7.10.svg.png?v=5" width="208" height="88" alt="Forge 1.7.10">
	</a>
</td>
<td>
	<br/>
	<span>
		Also backports 64x64 skins<br/>
		(Incompatible with SkinPort)
	</span>
</td>
</tr>

</table>
</div>
<p>&nbsp;</p>
<h3>Old Forge (1.2, 1.4 - 1.6)</h3>
<div class="spoiler">
All these ports additionally backport all 64x64 skin features and fix skin download. <b>This makes them incompatible with Lumy Skin Patch. Ears does the same thing.</b>
<table>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.forge_16}}">
		<img src="https://unascribed.com/ears-dl/forge-1.6.4.svg.png" width="208" height="88" alt="Forge 1.6.4">
	</a>
</td>
<td>
</td>
</tr>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.forge_15}}">
		<img src="https://unascribed.com/ears-dl/forge-1.5.2.svg.png" width="208" height="88" alt="Forge 1.5.2">
	</a>
</td>
<td>
	<br/><br/>
	<span style="color: #ff0000;">Must be put in coremods directory</span>
</td>
</tr>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.forge_14}}">
		<img src="https://unascribed.com/ears-dl/forge-1.4.7.svg.png" width="208" height="88" alt="Forge 1.4.7">
	</a>
</td>
<td>
	<br/><br/>
	<span style="color: #ff0000;">Must be put in coremods directory</span>
</td>
</tr>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.forge_12}}">
		<img src="https://unascribed.com/ears-dl/forge-1.2.5.svg.png" width="208" height="88" alt="Forge 1.2.5">
	</a>
</td>
<td>
	<br/>
	<span>
		<br/><br/>
		<span style="color: #ff0000;">Requires <a href="https://github.com/unascribed/Ears/wiki/1.2.5-Installation">special installation</a>.</span>
	</span>
</td>
</tr>
<tr>

</table>
</div>
<p>&nbsp;</p>
<h3>Other — Rift 1.13.2, Legacy Fabric (b1.7.3, 1.8.9), New Frontier Craft, Not So Seecret Saturday, Better Than Adventure</h3>
<div class="spoiler">

<table>
<tr>
<td>
	<a href="https://www.curseforge.com/minecraft/mc-mods/ears/download/{{curse.rift_113}}">
		<img src="https://unascribed.com/ears-dl/rift-1.13.2.svg.png?v=8" width="208" height="88" alt="Rift 1.13.2">
	</a>
</td>
<td>
	<br/><br/>
	<span>
		Having trouble running Rift in 2021?<br/>
		<a href="https://gist.github.com/unascribed/8ae40b4196a4e7e6e9130fbdd28c7115">This may help.</a>
	</span>
</td>
</tr>
<tr>
<td>
	<a href="https://github.com/unascribed/Ears/releases/download/v{{versions.global}}/ears-fabric-b1.7.3-{{versions.fabric_b173}}.jar">
		<img src="https://unascribed.com/ears-dl/fabric-b1.7.3.svg.png" width="208" height="88" alt="Cursed Legacy Fabric b1.7.3">
	</a>
</td>
<td>
	<br/>
	<span>Also backports 64x64 skins and fixes skin download</span><br/>
	<span>Works with either Cursed Legacy API or Station API. Does not require either.</span><br/>
	<b>Download links to GitHub and is not checked by Curse.</b>
</td>
</tr>
<tr>
<td>
	<a href="https://github.com/unascribed/Ears/releases/download/v{{versions.global}}/ears-nfc-{{versions.nfc}}.jar">
		<img src="https://unascribed.com/ears-dl/nfc.svg.png" width="208" height="88" alt="New Frontier Craft b1.7.3">
	</a>
</td>
<td>
	<br/>
	<span style="color: #ff0000;">Requires <a href="https://github.com/unascribed/Ears/wiki/New-Frontier-Craft-Installation">special installation</a>.</span><br/>
	<b>Download links to GitHub and is not checked by Curse.</b><br/>
	<span>Don't know what New Frontier Craft is? <a href="https://newfrontiercraft.net/thread/51/front-page">Check it out</a>!</span>
</td>
</tr>
<tr>
<td>
	<a href="https://github.com/unascribed/Ears/releases/download/v{{versions.global}}/ears-nsss-{{versions.nsss}}.jar">
		<img src="https://unascribed.com/ears-dl/nsss.svg.png" width="208" height="88" alt="Not So Seecret Saturday a1.1.2">
	</a>
</td>
<td>
	<span>Also backports 64x64 skins</span><br/>
	<span style="color: #ff0000;">Requires <a href="https://github.com/unascribed/Ears/wiki/NSSS-Installation">special installation</a>.</span><br/>
	<b>Download links to GitHub and is not checked by Curse.</b><br/>
	<span>Don't know what Not So Seecret Saturday is? <a href="https://www.minecraftforum.net/forums/mapping-and-modding-java-edition/minecraft-mods/2916817-the-not-so-seecret-saturday-mod-for-alpha-1-1-2_01">Check it out</a>!</span>
</td>
</tr>
<tr>
<td>
	<a href="https://github.com/unascribed/Ears/releases/download/v{{versions.global}}/ears-bta-{{versions.bta}}.jar">
		<img src="https://unascribed.com/ears-dl/bta.svg.png" width="208" height="88" alt="Better Than Adventure b1.7.3">
	</a>
</td>
<td>
	<span>Also backports 64x64 skins and removes reliance on Betacraft proxy</span><br/>
	<span style="color: #ff0000;">Requires <a href="https://github.com/unascribed/Ears/wiki/Better-Than-Adventure-Installation">special installation</a>.</span><br/>
	<b>Download links to GitHub and is not checked by Curse.</b><br/>
	<span>Don't know what Better Than Adventure is? <a href="https://www.minecraftforum.net/forums/mapping-and-modding-java-edition/minecraft-mods/3106066-better-than-adventure-for-beta-1-7-3-timely">Check it out</a>!</span>
</td>
</tr>
</table>

</div>
</div>
<p>&nbsp;</p>
<p>As Ears' primary purpose is allowing character customization across a wide range of versions, <em><strong>requests for porting to new versions or loaders are ENCOURAGED.</strong></em> Is there a version you still play nobody else seems to care about? Let me know in the issues.</p>
